
/* Generic Styles */

*{
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    color: #0091ff;
    font-size: 2.6em;
    font-weight: 800;
}

h3 {
    text-align: center;
    color: #0091ff;
    font-size: 2em;
    font-weight: 600;
}

html {
    height: 100%
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1em;
}

.map {
    height: calc(100% - 10vh);
    width: calc(100% - 5vw);
}

main,
.row,
.col-md-9 {
    height: 100%;
}

hr {
    background: #D0D7D9;
    height: 0.1em;
    margin: 2em 0 2em 0;
    border: none;
      }

li {
    margin: 0.6em;
    color: #6a6f6f;
      }